TELEGRAM_API_ID=12345678
TELEGRAM_API_HASH=your_api_hash
TELEGRAM_PHONE=+821012345678
TELEGRAM_CHANNEL_URL=https://t.me/shmstory
TELEGRAM_LOOKBACK_HOURS=24
TELEGRAM_TIMEZONE=Asia/Seoul
TELEGRAM_OUTPUT_DIR=out/telegram_crawl
TELEGRAM_SESSION=.telegram_sessions/telegram_user

